@font-face {
  font-family: "Bellefair";
  src:
    url("./fonts/bellefair-regular-webfont.woff2") format("woff2"),
    url("./fonts/bellefair-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src:
    url("./fonts/barlowcondensed-regular-webfont.woff2") format("woff2"),
    url("./fonts/barlowcondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Regular";
  src:
    url("./fonts/barlow-regular-webfont.woff2") format("woff2"),
    url("./fonts/barlow-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

:root {
  /* 01 COLORS */
  --blue-300: #d0d6f9;
  --blue-900: #0b0d17;
  --blue-900-opaque: rgba(11, 13, 23, 35%);
  --white: #ffffff;

  /* 03 SPACING */
  --spacing-1600: 128px;
  --spacing-1200: 96px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  --spacing-25: 2px;

  --bellefair: "Bellefair", Georgia, "Times New Roman", Times, serif;

  --barlow-condensed: "Barlow Condensed", Arial, Helvetica, sans-serif;

  --barlow-regular: "Barlow Regular", Arial, Helvetica, sans-serif;
}

/* Text Presets */
.text-preset-1 {
  font-family: var(--bellefair);
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
}

.text-preset-4 {
  font-family: var(--bellefair);
  font-size: 1.125rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: normal;
}

.text-preset-6 {
  font-family: var(--barlow-condensed);
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: normal;
}

.text-preset-9 {
  font-family: var(--barlow-regular);
  font-size: 0.9375rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 180%;
}

/* General Styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("./assets/home/background-home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body > * {
  width: 100%;
  max-width: 1400px;
  padding: var(--spacing-300);
}

/* HEADER */
header {
  flex: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      width: 40px;
      height: auto;
    }
  }

  .hidden {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 254px;
    background-color: var(--blue-900-opaque);
    backdrop-filter: blur(24px) brightness(75%);
    ul {
      list-style: none;
    }
  }
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  flex-direction: column;

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue-300);

    h1 {
      color: var(--white);
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-300);
    }

    .button-wrapper {
      flex: 1;
      display: flex;
      align-items: center;

      button {
        color: var(--blue-900);
        background-color: var(--white);
        width: 9rem;
        height: 9rem;
        border: none;
        border-radius: 999px;
      }
    }
  }
}
