@font-face {
  font-family: "Bellefair";
  src:
    url("./fonts/bellefair-regular-webfont.woff2") format("woff2"),
    url("./fonts/bellefair-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src:
    url("./fonts/barlowcondensed-regular-webfont.woff2") format("woff2"),
    url("./fonts/barlowcondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Regular";
  src:
    url("./fonts/barlow-regular-webfont.woff2") format("woff2"),
    url("./fonts/barlow-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

:root {
  /* 01 COLORS */
  --blue-300: #d0d6f9;
  --blue-900: #0b0d17;
  --blue-900-opaque: rgba(11, 13, 23, 80%);
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.1);

  /* 03 SPACING */
  --spacing-1600: 128px;
  --spacing-1200: 96px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  --spacing-25: 2px;

  --bellefair: "Bellefair", Georgia, "Times New Roman", Times, serif;

  --barlow-condensed: "Barlow Condensed", Arial, Helvetica, sans-serif;

  --barlow-regular: "Barlow Regular", Arial, Helvetica, sans-serif;
}

/* Text Presets */
.text-preset-1 {
  font-family: var(--bellefair);
  font-size: 5em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
}

.text-preset-4 {
  font-family: var(--bellefair);
  font-size: 1.125em;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: normal;
}

.text-preset-6 {
  font-family: var(--barlow-condensed);
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: normal;
}

.text-preset-8 {
  font-family: var(--barlow-condensed);
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: normal;
}

.text-preset-9 {
  font-family: var(--barlow-regular);
  font-size: 0.9375em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 180%;
}

/* General Styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("./assets/home/background-home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body > * {
  width: 100%;
  max-width: 1800px;
  padding: var(--spacing-300);
}

.number {
  font-weight: bold;
  letter-spacing: 2.7px;
  margin-right: var(--spacing-150);
}

li a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
}

.mobile-menu li:hover,
.tabs li:hover {
  a {
    border-bottom: 3px solid var(--white);
  }
}

/* HEADER */
header {
  flex: 0;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      width: 40px;
      height: auto;
    }
  }

  .mobile-menu.hidden {
    transform: translateX(100%);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 67.73%;
    background-color: var(--blue-900-opaque);
    backdrop-filter: blur(24px) brightness(75%);
    transform: translateX(0);
    transition: transform 0.3s linear;

    div {
      width: 100%;
      padding: var(--spacing-400) var(--spacing-300);
      text-align: end;
    }

    ul {
      width: 100%;
      padding: var(--spacing-400) var(--spacing-300);
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-400);

      li a {
        padding-bottom: 4px;
      }
    }
  }
}

.img-button {
  background-color: transparent;
  border: none;
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  flex-direction: column;

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue-300);

    h1 {
      color: var(--white);
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-300);
    }

    .button-wrapper {
      flex: 1;
      display: flex;
      align-items: center;

      #explore-btn {
        color: var(--blue-900);
        background-color: var(--white);
        width: 9rem;
        height: 9rem;
        border: none;
        border-radius: 999px;
        box-shadow: 0 0 0 0 transparent;
      }

      #explore-btn:hover {
        box-shadow: 0 0 0 88px var(--white-transparent);
      }
    }
  }
}

/* DESTINATION PAGES */
.content {
  .image img {
    height: 150px;
    width: auto;
  }
  .tabs ul {
    display: flex;
    gap: var(--spacing-400);
    list-style: none;

    a {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .main-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
  /* HEADER */
  header {
    min-height: 96px;
    padding: 0;

    .logo {
      margin-right: -32px;
      max-width: 160px;
      padding-left: var(--spacing-500);
      flex: 1 0 0;

      img {
        width: 48px;
        height: auto;
      }
    }

    nav.main-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 488px;
      padding: 0 var(--spacing-500);
      flex: 1 0 0;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(24px) brightness(75%);

      ul li:first-child {
        span {
          display: none;
        }
      }
    }

    .main-menu ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: var(--spacing-600);

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 96px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
      }

      li:hover {
        border-bottom: 3px solid var(--white);
      }

      a {
        text-decoration: none;
        color: var(--white);
      }
    }

    .hamburger {
      display: none;
    }
  }

  /* MAIN */
  main {
    padding: var(--spacing-1600) var(--spacing-500);
  }

  section {
    gap: var(--spacing-600);
  }

  .text-wrapper,
  .button-wrapper {
    max-width: 540px;
  }

  .text-preset-1 {
    font-size: 9em;
  }

  .text-preset-4 {
    font-size: 2em;
  }

  .text-preset-6 {
    font-size: 1.75em;
    letter-spacing: 4px;
  }

  .text-preset-9 {
    /* TABLET ONLY - look at for desktop */
    font-size: 1em;
  }

  main section .button-wrapper #explore-btn {
    width: 17rem;
    height: 17rem;
  }
}

@media (min-width: 1248px) {
  body {
    justify-content: flex-start;
    background-image:
      url("./assets/home/desktop-background-hi-res.png"),
      url("./assets/home/background-home-desktop.jpg");
  }

  /* HEADER */
  header {
    padding-top: var(--spacing-500);
    .logo {
      display: flex;
      align-items: center;
      gap: var(--spacing-800);
      padding-left: var(--spacing-800);
      max-width: none;
      z-index: 2;
      .line {
        height: 1px;
        flex: 1 0 0;
        opacity: 0.25;
        background-color: var(--white);
      }
    }

    nav.main-menu {
      min-width: 664px;
      padding: 0 var(--spacing-800);

      ul li:first-child {
        span {
          display: inline;
        }
      }
    }
  }

  /* MAIN */
  main {
    padding: var(--spacing-1600) 0;
    align-items: center;
    max-height: 888px;
    section {
      max-width: 1110px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: 30px;
      text-align: start;
      flex: 1 0 0;

      .text-wrapper,
      .button-wrapper {
        flex: 1 0 0;
        max-width: 540px;
        gap: var(--spacing-300);
        flex-direction: column;
      }

      .button-wrapper {
        align-items: flex-end;
      }
    }
  }

  .text-preset-9 {
    font-size: 1.125em;
  }
}
