@font-face {
  font-family: "bellefairregular";
  src:
    url("./fonts/bellefair-regular-webfont.woff2") format("woff2"),
    url("./fonts/bellefair-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "barlow_condensedregular";
  src:
    url("./fonts/barlowcondensed-regular-webfont.woff2") format("woff2"),
    url("./fonts/barlowcondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > *,
main > * {
  /* For development purposes only */
  /* border: 1px solid red; */
}

:root {
  /* 01 COLORS */
  --blue-300: #d0d6f9;
  --blue-900: #0b0d17;
  --white: #ffffff;

  /* 03 SPACING */
  --spacing-1600: 128px;
  --spacing-1200: 96px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
  --spacing-25: 2px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("./assets/home/background-home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body > * {
  width: 100%;
  max-width: 1400px;
  padding: var(--spacing-300);
}

/* HEADER */
header {
  flex: 0;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      width: 40px;
      height: auto;
    }
  }

  nav {
    display: none;
  }
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  flex-direction: column;

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .button-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}
